.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

body {
  background: #fdc830; /* fallback for old browsers */
  background: linear-gradient(to top, #fdc830, #f37335);
}

button {
  font-size: 20px;
  padding: 16px;
  border-radius: 50%;
  color: #e66626;
  border: none;
  box-shadow: 2px 2px 5px rgba(92, 41, 2, 0.25);
  margin-left: 60px;
}

button:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 1px rgba(92, 41, 2, 0.25);
}

button:focus {
  outline: none;
}
