.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

body {
  background: #fdc830; /* fallback for old browsers */
  background: linear-gradient(to top, #fdc830, #f37335);
}

button {
  font-size: 20px;
  padding: 8px 40px;
  border-radius: 6px;
}

button:focus {
  outline: none;
}
